<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blue</key>
	<dict>
		<key>color_2</key>
		<string>#456589</string>
		<key>color_1</key>
		<string>#6B89A6</string>
		<key>local_path</key>
		<string>bundle</string>
	</dict>
	<key>red</key>
	<dict>
		<key>color_1</key>
		<string>#EC6E55</string>
		<key>color_2</key>
		<string>#E44347</string>
		<key>local_path</key>
		<string>bundle</string>
	</dict>
</dict>
</plist>
